<form action="/artists" method=POST>
    <label for="artist_name">Artist Name: </label>
    <input type="text" id="artist_name" name="artist[name]"><br>

    <fieldset>
        <legend>Create an associated song: </legend>
        <label for="song_title">Song Title</label>
        <input type="text" name="song[title]" id="song_title">

    </fieldset>
    <input type="submit">
</form>